{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
    {lager, ".*", {git, "git://github.com/erlang-lager/lager.git", {tag, "3.3.0"}}},
    {yamerl, ".*", {git, "git://github.com/yakaz/yamerl.git", {tag, "v0.4.0"}}},
    {elli, ".*", {git, "git://github.com/knutin/elli.git", {tag, "v1.0.5"}}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.14.11"}}}
]}.
{cover_enabled, true}.
